<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}      

    <main class="carte-page-content" aria-label="Content">
      <div class="large-wrapper" style="margin-bottom: 45px;">
        <iframe scrolling="no" width="100%" height="100%" frameborder="0" allowfullscreen="" src="https://framacarte.org/fr/map/paris-au-cinema_74126?scaleControl=false&amp;miniMap=false&amp;scrollWheelZoom=false&amp;zoomControl=null&amp;allowEdit=false&amp;moreControl=true&amp;searchControl=null&amp;tilelayersControl=false&amp;embedControl=false&amp;datalayersControl=null&amp;onLoadPanel=none&amp;captionBar=false&amp;measureControl=false&amp;editinosmControl=false&amp;fullscreenControl=null&amp;locateControl=null#13/48.8568/2.3361"></iframe>
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
