<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}      

    <main class="carte-page-content" aria-label="Content">
      <div class="large-wrapper" style="margin-bottom: 45px;">
        <iframe width="100%" height="100%" frameborder="0" allowfullscreen src="https://umap.openstreetmap.fr/fr/map/paris-au-cinema_282405?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=null&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=false&datalayersControl=null&onLoadPanel=none&captionBar=false&fullscreenControl=null&locateControl=null&editinosmControl=false#13/48.8568/2.3361"></iframe>
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
