---
layout: default
---
<h1>Tag : {{page.tag}}</h1>
<div class="articles-col">
  <div class="articles-col articles-col-1">    
    <ul class="post-tag-list">
      {% for post in site.posts %}
      {% if post.tags contains page.tag %}
      <li>
        <div>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
           <span class="post-meta">{{ post.date | date: date_format }}</span>
           <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <!---<a class="post" href="{{ post.url }}">{{ post.title }}</a>--->
          <figure class="post-cover" style="float: left">
            <a href="{{ post.url | relative_url }}"><img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}"></a>
          </figure>
           {{ post.excerpt | strip_html | truncatewords: 100 }}
           <a href="{{ post.url | relative_url }}">Lire la suite</a>
        </div>
        {% endif %}
        {% endfor %}
    
      </li>
    </ul>
  </div>
  {%- include sidebar.html -%}
</div>
